.idea
*.iml

/node-books-api/node_modules

/quarkus-books-api/imperative/target
/quarkus-books-api/reactive/target

/springboot-books-api/reactive-api/target
/springboot-books-api/imperative-api/target
