.idea
*.iml

/node-books-api/node_modules

/quarkus-books-api/quarkus-imperative-jdbc-api/target
/quarkus-books-api/quarkus-imperative-jpa-api/target
/quarkus-books-api/quarkus-reactive-api/target

/springboot-books-api/sb-reactive-api/target
/springboot-books-api/sb-imperative-jpa-api/target
/springboot-books-api/sb-imperative-jdbc-api/target

*.DS_Store
